<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andres.personaltrainer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".data.userProgress.addNewProgress.progressSave"></activity>
        <activity android:name=".data.userProgress.addNewProgress.personalProgress4" />
        <activity android:name=".data.userProgress.addNewProgress.personalProgress3" />
        <activity android:name=".data.userProgress.addNewProgress.personalProgress2" />
        <activity android:name=".data.userProgress.addNewProgress.personalProgress1" />
        <activity android:name=".addClient.personalData3" />
        <activity android:name=".addClient.personalData2" />
        <activity android:name=".addClient.personalData1" />
        <activity android:name=".clientView.clientProgressList.clientProgress" />
        <activity android:name=".clientView.clientHome" />
        <activity android:name=".data.userProgress.progressList.weekProgress" />
        <activity android:name=".weekProgress" />
        <activity android:name=".data.userProgress.addNewProgress.addProgress" />
        <activity android:name=".data.userProgress.progressList.progress" />
        <activity android:name=".data.userData" />
        <activity android:name=".customersView.customers" />
        <activity android:name=".addClient.addCustomer" />
        <activity android:name=".adminHome" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>